body.forgot-password {
    margin: 0;
    padding: 0;
    background-color: #92c1ff;
    display: flex;
}

.login-logo {
    flex: 1;
    width: 50%;
    margin: auto;
    height: 50%;
    padding-left: 100px;
    padding-top: 100px;
}

.password-container {
    flex: 1;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #0455BF;
    padding-right: 150px;
}

.input-group {
    margin-bottom: 15px;
}

.password-container input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 1.2em;
}

.password-container button {
    width: 100%;
    padding: 10px;
    background-color: #0468BF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 1.2em;
}

button:hover {
    background-color: #0056b3;
}

a {
    display: block;
    margin-top: 15px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}