body.signup-page {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
}

.signup-logo {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20%;
    margin-bottom: 20%;
}

.signup-logo img {
    width: 50%;
    height: 50%;

}

.signup-form {
    padding-top: 30%;
}

.signup-container {
    flex: 1;
    flex-direction: column;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #0455BF;
    top: 50%;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 70%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 1.2em;
}

#signupbutton {
    width: 70%;
    padding: 10px;
    background-color: #7cbb45;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 1.2em;
}

button:hover {
    background-color: #63a231;
}

a {
    display: block;
    margin-top: 15px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}