/* ViewFlight.css */
.viewFlightContainer {
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
}

.viewFlightContainer h1 {
    color: #333;
}

.flightDetails {
    list-style-type: none;
    padding: 0;
}

.flightDetails li {
    margin-bottom: 10px;
}