.view-flight-page {
    color: #002277;
    text-decoration: none;
    padding: 10px 15px;
    background-color: white;
    border-radius: 5px;
}

.viewflight-navbar {
    display: flex;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    align-items: center;
    border-radius: 10px;
}

.viewflight-navbar .logo {
    margin-right: 20px;
    width: 50px;
    height: auto;
}

.viewflight-navbar .nav-item {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
}



.flight-details {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial;
    border: 1px solid #717171;
    border-radius: 10px;
}

.flight-details h1 {
    font-size: 30px;
    margin: 10px;
    border-bottom: 2px solid #717171;
}

.flight-details p {
    font-size: 20px;
    margin: 10px;
}

.view-buttons button {
    padding: 10px 20px;
    background-color: #002277;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    margin: 20px;
}

.view-flight-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #717171;
    border-radius: 10px;
}
